:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.link-style {
  color: bisque;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  margin-left: 20px;
  font-size: 1.1em;
}

body {
  margin: 0;
  font-family: "Merriweather", "Georgia", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
  color: var(--text);
}

h1,
h3 {
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
}

.App {
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem 1rem;
  max-width: 1200px;
}

header h1 {
  font-size: 3em;
}

.home {
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #61dafb;
  text-emphasis: inherit;
  margin-top: 45px;
  padding-top: 30px;
}

aside {
  display: flex;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

aside img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  background-color: black;
}

article {
  margin-bottom: 3rem;
}

article p {
  margin-top: 0.5rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.1em;
}

article h3 {
  color: var(--link);
  margin-bottom: 15px;
}

.create h3 {
  color: var(--link);
  margin-bottom: 0rem;
}

input {
  cursor: pointer;
}

.article-detail h3 {
  color: var(--link);
  margin-bottom: 25px;
}

.article-detail p {
  margin-top: 0.5rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.3em;
}

.blog-create {
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 25px;
  font-size: 1.2em;
  font-family: Montserrat, sans-serif;
  padding: 5px;
  margin: 5px;
}

.title-box {
  width: 400px;
  height: 50px;
  font-size: 1em;
}

.article-box {
  height: 150px;
  width: 500px;
  font-size: 1.1em;

}

.submit {
  background-color: rgb(47, 48, 109);
  margin: 10px 10px;
  padding: 15px 20px;
  width: 115px;
  cursor: pointer;

  color: white;
  border-radius: 8%;
  border-color: none;
  font-family: Montserrat, sans-serif;
  font-size: 0.8em;
}


.about {
  font-family: Montserrat, sans-serif;
  font-size: 1.1em;
  line-height: 22px;

}

.about hr {
  margin-top: 10px;
}

.header img {
  max-height: 350px;

}